<div class="row col-sm-12">
  <div class="col-sm-12 col-md-12">
    <label translate>Data Source URL</label>
    <input type="text" class="form-control input-field" name="config.url" [(ngModel)]="config.url">
  </div>
  <div class="row">
    <div class="col-sm-6 margin-10">
      <div class="col-sm-12 col-md-12">
        <div class="btn-group device-list-switch-toggle ">
          <label class="c8y-switch ">
            <input type="checkbox" id="isDevice" [checked]="config.isDevice" [(ngModel)]="config.isDevice">
            <span></span> Is this a Device specific ?
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12">
    <label translate>Name of the Main document List from API</label>
    <input type="text" class="form-control input-field" name="config.mainListName"
      [(ngModel)]="config.mainListName">
  </div>

  <div class="col-sm-12 col-md-12 margin-15" >
    <label translate>Table Column Headings (comma separated e.g: ID,)</label>
    <input type="text" class="form-control input-field" name="config.tableColumnNames"
      [(ngModel)]="config.tableColumnNames">
  </div>

  <div class="col-sm-12 col-md-12 margin-15">
    <label translate>Table Column Names from API (comma separated e.g: id,)</label>
    <input type="text" class="form-control input-field" name="config.tableColumnValues"
      [(ngModel)]="config.tableColumnValues">
  </div>

  <div class="row">
    <div class="col-sm-6 form-horizontal">
      <div class="col-sm-12 col-md-12">
        <label for="pageSize" class=" col-sm-6 control-label">Page Size:</label>
        <div class="col-sm-6 col-md-6">
          <select [(ngModel)]="config.pageSize" name="pageSize" id="pageSize" class="page-size">
            <option *ngFor="let pageSize of pageSizeList" [selected]="config.pageSize === pageSize"
              [ngValue]='pageSize'>
              {{pageSize}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" style="margin-bottom: 10px;">
      <div class="col-sm-12 col-md-12">
        <div class="btn-group device-list-switch-toggle ">
          <label class="c8y-switch ">
            <input type="checkbox" id="isDevice" [checked]="config.theCheckbox" [(ngModel)]="config.theCheckbox"
              (change)="toggleVisibility($event)">
            <span></span>Expandable Table with Nested List 
          </label>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="config.theCheckbox">

    <div class="col-sm-12 col-md-12 margin-15">
      <label translate>Name of the Sub document List from API</label>
      <input type="text" name="config.subListName" class="input-field" [(ngModel)]="config.subListName">
    </div>

    <div class="col-sm-12 col-md-12 margin-15">
      <label translate>Table Column Headings (comma separated e.g: ID,)</label>
      <input type="text" name="config.subTableColumnNames" class="input-field" [(ngModel)]="config.subTableColumnNames">
    </div>

    <div class="col-sm-12 col-md-12 margin-15">
      <label translate>Table Column Names from API (comma separated e.g: id,)</label>
      <input type="text" name="config.subTableColumnValues" class="input-field"
        [(ngModel)]="config.subTableColumnValues">
    </div>

  </div>
</div>